;; shadow-cljs configuration
{:source-paths
 ["src/dev"
  "src/main"
  "src/test"]

 :dev-http {3000 "public"}
 :dependencies
 []

:builds
 {:app
  {:target :browser

   :output-dir "public/js"
   :asset-path "/js"
   :release {:compiler-options {:optimizations :advanced}}
   :modules {:main {:init-fn pixi.core/initFn}}}}}